.ui-bar-f {
  border: 1px solid #333;
  border-bottom-color: #333;
  border-left-width: 0;
  border-right-width: 0;
  background-color: #444;
  color: #fff;
  text-shadow: 0 1px 1px #000;
  background-image: linear-gradient(#555, #333);
}
a, a:link, .ui-btn {
  text-decoration: none;
}
.ui-bar-f .ui-btn {
  color: #fff;
}
.ui-bar-f a.ui-link {
  color: #4cfeef;
}
.ui-bar-f a.ui-link:visited {
  color: #4cfeef;
}
.ui-bar-f a.ui-link:hover {
  color: #4cfeef;
}
.ui-bar-f a.ui-link:active {
  color: #4cfeef;
}
.ui-body-f, .ui-overlay-f {
  border: 1px solid #111;
  background-color: #333;
  color: #fff;
  text-shadow: none;
  font-weight: normal;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVUlEQVQYV4XQMQrAQAgEQH2GlraW/v9d2hk8SCC5eNo67MIiMycRQURAd+4OaGY5ofqjquYpqVA1trDqbtQmflE1bol/aIMdesETeuCEFhSRteM0+gXtzV/VwNXWEAAAAABJRU5ErkJggg==);
}
.ui-overlay-f {
  background-image: none;
  border-width: 0;
}
.ui-body-f .ui-btn {
  color: #fff;
}
.ui-body-f .ui-link {
  color: #4cfeef;
}
.ui-body-f .ui-link:visited {
  color: #4cfeef;
}
.ui-body-f .ui-link:hover {
  color: #4cfeef;
}
.ui-body-f .ui-link:active {
  color: #4cfeef;
}

/*! purgecss ignore */
.ui-slider-track .ui-btn.ui-slider-handle,
[id="font-size-listbox"] .ui-listview > li > .ui-btn,
.ui-btn-icon-right {
  border: 1px solid #111;
  background-color: #333;
  color: #fff;
  text-shadow: 0 1px 1px #111;
  background-image: linear-gradient(#444, #2d2d2d);
}
.ui-popup.ui-body-inherit {
  border: 1px solid #222;
}
.ui-btn-icon-right:visited, .ui-btn-icon-right a.ui-btn {
  color: #fff;
}
.ui-btn-hover-f {
  border: 1px solid #000;
  background-color: #444;
  color: #fff;
  text-shadow: 0 1px 1px #111;
  background-image: linear-gradient(#555, #383838);
}
.ui-btn-hover-f:visited, .ui-btn-hover-f:hover, .ui-btn-hover-f a.ui-btn {
  color: #fff;
}
.ui-btn-down-f {
  border: 1px solid #000;
  background-color: #222;
  color: #fff;
  text-shadow: 0 1px 1px #111;
  background-image: linear-gradient(#202020, #2c2c2c);
}
.ui-btn-down-f:visited, .ui-btn-down-f:hover, .ui-btn-down-f a.ui-btn {
  color: #fff;
}

/*! purgecss ignore */
.ui-bar-h {
  background-color: #eee;
  color: #3e3e3e;
  text-shadow: 0 1px 1px #fff;
  background-image: linear-gradient(#f0f0f0, #ddd);
}
/*! purgecss ignore */
.ui-bar-h .ui-btn {
  color: #3e3e3e;
}
/*! purgecss ignore */
.ui-bar-h a.ui-link {
  color: #4cfeef;
}
/*! purgecss ignore */
.ui-bar-h a.ui-link:visited {
  color: #4cfeef;
}
/*! purgecss ignore */
.ui-bar-h a.ui-link:hover {
  color: #4cfeef;
}
/*! purgecss ignore */
.ui-bar-h a.ui-link:active {
  color: #4cfeef;
}
/*! purgecss ignore */
.ui-body-h, .ui-overlay-h {
  color: #111;
  background-color: #fff;
  background-image:none;
  border: 0;
}
.ui-body-h .ui-btn {
  color: #333;
}
.ui-body-h .ui-link {
  color: #006c7f;
  text-decoration: none;
}
.ui-body-h .ui-link:visited {
  color: #00accb;
}
.ui-body-h .ui-link:hover {
  background-color: #00accb;
  color: #fff;
}
.ui-body-h .ui-link:active {
  color: #00accb;
}
.ui-overlay-h .subfooter {
  color: #fff;
}
.ui-body-h .subfooter .ui-link {
  color: #4cfeef;
}
.ui-body-h .subfooter .ui-link:visited {
  color: #a6fff7;
  background-color: transparent;
}
.ui-body-h .subfooter .ui-link:hover {
  background-color: #4cfeef;
  color: #111;
}
.ui-body-h .subfooter .ui-link:active {
  background-color: #111;
  color: #a6fff7;
}
.ui-btn-up-h {
  border: 1px solid #ccc;
  background-color: #eee;
  color: #222;
  text-shadow: 0 1px 0 #fff;
  background-image: linear-gradient(#fff, #f1f1f1);
}
.ui-btn-up-h:visited, .ui-btn-up-h a.ui-btn {
  color: #2f3e46;
}
.ui-btn-hover-h {
  border: 1px solid #bbb;
  background-color: #dfdfdf;
  color: #222;
  text-shadow: 0 1px 0 #fff;
  background-image: linear-gradient(#f6f6f6, #e0e0e0);
}
.ui-btn-hover-h:visited, .ui-btn-hover-h:hover, .ui-btn-hover-h a.ui-btn {
  color: #2f3e46;
}
.ui-btn-down-h {
  border: 1px solid #bbb;
  background-color: #d6d6d6;
  color: #222;
  text-shadow: 0 1px 0 #fff;
  background-image: linear-gradient(#d0d0d0, #dfdfdf);
}
.ui-btn-down-h:visited, .ui-btn-down-h:hover, .ui-btn-down-h a.ui-btn {
  color: #2f3e46;
}
[id="font-size-listbox"] .ui-listview > li > .ui-btn-active,
.ui-btn-active {
  border: 1px solid #006a7f;
  background-color: #008798;
  color: #fff;
  cursor: pointer;
  text-shadow: 0 1px 1px #3373a5;
  text-decoration: none;
  background-image: linear-gradient(#008798, #00b4cb);
}
.ui-btn-active:visited, .ui-btn-active:hover, .ui-btn-active a.ui-btn {
  color: #fff;
}
.ui-btn:focus, .ui-btn:focus {
  outline: 0;
}
.ui-btn.ui-focus {
  z-index: 1;
}
.ui-focus, .ui-btn:focus {
  box-shadow: inset 0 0 3px #00accb, 0px 0 9px #00accb;
}
.ui-input-text.ui-focus, .ui-input-search.ui-focus {
  box-shadow: 0 0 12px #00accb;
}
.ui-btn-inner {
  border-top: 1px solid #fff;
  border-color: rgba(255, 255, 255, .3);
}
.ui-icon, .ui-icon-searchfield:after {
  background-color: #666;
  background-color: rgba(0, 0, 0, .4);
  background-image: url(#{$assetPath}img/icons-18-white.png);
  background-repeat: no-repeat;
  border-radius: 9px;
}
.ui-icon-alt {
  background-color: #fff;
  background-color: rgba(255, 255, 255, .3);
  background-image: url(#{$assetPath}img/icons-18-black.png);
  background-repeat: no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min--moz-device-pixel-ratio:1.5), only screen and (min-resolution:240dpi) {
  .ui-icon-plus, .ui-icon-minus, .ui-icon-delete, .ui-icon-arrow-r, .ui-icon-arrow-l, .ui-icon-arrow-u, .ui-icon-arrow-d, .ui-icon-check, .ui-icon-gear, .ui-icon-refresh, .ui-icon-forward, .ui-icon-back, .ui-icon-grid, .ui-icon-star, .ui-icon-alert, .ui-icon-info, .ui-icon-home, .ui-icon-search, .ui-icon-searchfield:after, .ui-icon-checkbox-off, .ui-icon-checkbox-on, .ui-icon-radio-off, .ui-icon-radio-on {
    background-image: url(#{$assetPath}/img/icons-36-white.png);
    background-size: 776px 18px;
  }
  .ui-icon-alt {
    background-image: url(#{$assetPath}img/icons-36-black.png);
  }
}
.ui-icon-loading {
  background-color: url(#{$assetPath}img/ajax-loader.gif);
  background-size: 46px 46px;
}
.ui-field-contain label,
.ui-field-contain label.ui-select, .ui-field-contain label.ui-slider {
  vertical-align: top;
  display: block;
  width: 92%;
  margin: 0 auto 0 8%;
}
/*! purgecss ignore */
.ui-body-a,
.ui-overlay-a,
.ui-popup-active {
  border: 1px solid #444;
  background: #222;
  color: #fff;
  text-shadow: 0 1px 1px #111;
  font-weight: normal;
  font-style: normal;
  background-image: linear-gradient( #444,#222 );
}

/*! purgecss ignore */
.ui-overlay-a {
  background-image: none;
  border-width: 0;
}
.ui-slider-switch .ui-btn.ui-slider-handle {
  margin-left: -13px;
}

